@import 'Styles/theme.scss';
.wrapClass {
  .ant-modal-header {
    border-bottom: none;
  }
  
  .ant-modal-title {
    text-align : center;
    font-size  : 16px;
    font-family: HiraginoSansGB, HiraginoSansGB-W6;
    font-weight: 600;
    color      : $lightBlack;
    margin: 24px auto 14px;
  }
  .ant-modal-body {
    padding: 0 76px 50px;
    font-size: 16px;
    font-family: HiraginoSansGB, HiraginoSansGB-W3;
    text-align: center;
    color: rgba(0,0,0,0.80);
  }
  .ant-modal-footer {
    display: flex;
    justify-content: space-around;
    padding: 10px 16px 50px;
    .ant-btn {
      width: 240px;
      height: 50px;
      line-height: 40px;
      border: 1px solid $darkBlue;
      border-radius: 10px;
      font-size: 14px;
      font-family: HiraginoSansGB, HiraginoSansGB-W6;
      font-weight: 600;
      text-align: center;
      color: $darkBlue;
      display: flex;
      justify-content: space-around;
    }
    .ant-btn-primary {
      background: $darkBlue;
      color: $white;
    }
  }
}