@import 'Styles/theme.scss';

.standard {
  display        : flex;
  justify-content: center;
  align-items    : center;
  margin         : 132px auto 0;
  width          : 1200px;
  height         : 700px;
  background     : url('../../Assets/login-bg.png') no-repeat;

  .standard-box {
    width        : 840px;
    height       : 498px;
    background   : $white;
    border-radius: 10px;
    box-shadow   : 0px 0px 30px 0px rgba(96, 128, 180, 0.50);
    margin       : 80px 108px 120px 45px;

    .title-standard-collection {
      font-size  : 22px;
      font-weight: bold;
      color      : $darkBlue;
      padding    : 30px 0 40px 30px;
    }

    .standard-content {
      display        : flex;
      justify-content: center;

      .standard-item {
        width          : 208px;
        height         : 228px;
        display        : flex;
        flex-direction : column;
        border         : 1px solid rgba(0, 0, 0, 0.1);
        border-radius  : 10px;
        align-items    : center;
        justify-content: center;
        cursor         : pointer;

        &:hover {
          box-shadow: 0px 0px 20px 0px rgba(96, 128, 180, 0.50);
        }
      }

      .standard-item>p {
        padding: 0 20px;
        color  : $darkBlue;
      }

      .standard-item>img {
        padding-top: 20px;
        width      : 62px;
        height     : 62px;
      }

      .active {
        border       : 1px solid $darkBlue;
        border-radius: 10px;
        box-shadow   : 0px 0px 20px 0px rgba(96, 128, 180, 0.50);
      }
    }

    .standard-line {
      width     : 526px;
      height    : 2px;
      background: #108ee9;
      margin    : 40px auto;
    }

    .noti-standard-collection {
      width     : 100%;
      text-align: center;
    }
  }
}