@import 'Styles/theme.scss';

.profile {
    margin-top: 70px;
    min-width : 1200px;

    .profile-header {
        .user-bg {
            position: relative;

            .img-bg {
                min-height: 220px;
                height    : 220px;
                width     : 100%;
            }

            .bg-edit {
                display   : none;
                position  : absolute;
                left      : 50%;
                top       : 50%;
                transform : translate(-50%, -50%);
                cursor    : pointer;
                text-align: center;

                .bg-edit-img {
                    width : 24px;
                    height: 24px;
                }
            }

            .img-bg:hover+.bg-edit,
            .user-bg:hover+.bg-edit,
            .bg-edit:hover {
                display: block;
            }
        }

        .user-header {
            position       : relative;
            display        : flex;
            justify-content: center;
            margin-top     : -64px;

            .img-avatar {
                border-radius: 50%;
                width        : 128px;
                height       : 128px;
            }

            .header-edit {
                display   : none;
                position  : absolute;
                left      : 50%;
                top       : 50%;
                transform : translate(-50%, -50%);
                cursor    : pointer;
                text-align: center;

                .header-edit-img {
                    width : 24px;
                    height: 24px;
                }
            }

            .img-avatar:hover+.header-edit,
            .header-edit:hover {
                display: block;
            }
        }

        .user-info {
            width     : 750px;
            margin    : 15px auto;
            text-align: center;

            P {
                margin-bottom: 0;
            }

            .user-name {
                font-size  : 24px;
                font-family: HiraginoSansGB, HiraginoSansGB-Regular;
                color      : $lightBlack;
                font-weight: 600;
            }

            .user-address {
                width          : 100%;
                font-size      : 14px;
                font-family    : HiraginoSansGB, HiraginoSansGB-Regular;
                color          : rgba(0, 0, 0, 0.79);
                display        : flex;
                justify-content: center;
            }

            .user-desc {
                font-size  : 14px;
                font-family: HiraginoSansGB, HiraginoSansGB-Regular;
                color      : rgba(0, 0, 0, 0.50);
            }
        }

        .user-btn {
            display        : flex;
            justify-content: center;
            width          : 300px;
            margin         : 0 auto;
            text-align     : center;

            .btn {
                width        : 120px;
                height       : 50px;
                background   : $white;
                border       : 1px solid $darkBlue;
                border-radius: 10px;
                line-height  : 50px;
                font-size    : 14px;
                font-family  : HiraginoSansGB, HiraginoSansGB-Regular;
                font-weight  : 400;
                color        : $darkBlue;
                cursor       : pointer;
            }

            .profile-collection {
                color      : $white;
                background : $darkBlue;
                margin-left: 8px;
            }

            .profile-collection-other {
                color      : $white;
                background : $darkBlue;
                margin-left: 0
            }
        }
    }

    .mynft {
        margin: 20px auto;
        width : 1110px;

        .nav {
            display        : flex;
            justify-content: space-between;
            padding-bottom : 10px;
            border-bottom  : 1px solid #e5e8eb;

            .mynft-title {
                font-size  : 16px;
                font-family: HiraginoSansGB, HiraginoSansGB-Regular;
                font-weight: 600;
                color      : $lightBlack;
            }

            .mynft-btn {
                display        : flex;
                justify-content: space-between;

                .btn {
                    font-size  : 16px;
                    font-family: HiraginoSansGB, HiraginoSansGB-Regular;
                    font-weight: 400;
                    color      : $lightBlack;
                    cursor     : pointer;
                }

                .btn:nth-child(1) {
                    margin-right: 40px;
                }

                .profile-active-btn {
                    color: $darkBlue;
                }
            }
        }
    }

    .list-nft-owner {
        display       : flex;
        flex-direction: column;
        margin        : 25px auto;
        width         : 1125px;
    }

    .list-unsell {
        color       : $darkBlue;
        font-size   : 15px;
        font-weight : 600;
        padding-left: 10px;
    }

    .mt40 {
        margin-top: 30px;
    }
}