@import 'Styles/theme.scss';
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 132px auto;
    width: 1200px;
    height: 700px;
    background: url('../../Assets/login-bg.png') no-repeat;
    .login-box {
        width: 840px;
        height: 498px;
        background: $white;
        border-radius: 10px;
        box-shadow: 0px 0px 30px 0px rgba(96,128,180,0.50); 
        margin: 80px 108px 120px 45px;

        .title {
            color: $darkBlue;
            font-family: HiraginoSansGB, HiraginoSansGB-W6;
            font-weight: W6;
            margin: 20px;
        }
        .metamask-logo {
            .metamask-img {
                margin:80px 220px 60px;
                width: 100%;
            }
            .line {
                width: 526px;
                height: 2px;
                background: $lightBlue;
                margin: auto;
            }
        }
        .login-btn {
            display: flex;
            justify-content: center;
            margin: 70px 280px 60px;
            background: $darkBlue;
            border-radius: 10px;
            font-size: 14px;
            font-family: HiraginoSansGB, HiraginoSansGB-W6;
            font-weight: W6;
            color: $white;
            width: 280px;
            height: 50px;
            line-height: 50px;
            cursor: pointer;
        }
    }
}