@import 'Styles/theme.scss';

.market {
    margin-top: 70px;
    min-width : 1200px;

    .market-items {
        width          : 1200px;
        margin         : 50px auto;
        display        : flex;
        justify-content: space-between;
        flex-wrap      : wrap;
    }
}